
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Sora&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
}
:root{
    --primary-color:#191919;
    --secondary-color:red;
    --text-color:white;
}

/***Navbar**/

.hero{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: white;
}

.logo{
    cursor: pointer;
    letter-spacing: 1px;
    padding-left: 20px;
    color: white;
    justify-content: start;
}
#menu-icon{
    
    font-size: 25px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.navlist{
    display: flex;
}
nav{
    background-color: #191919;
    margin: auto;
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 5px;
}


nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: var(--secondary-color);
    transition: 0.4s ease-in;
    transform: translateY(-10%);
}




nav i{
    font-size: 2.7rem;
    color: var(--text-color);
}


nav i:hover{
    transition: ease 0.4s;
    cursor: pointer;
    transform: translateY(-10%);

}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}
.row{
   padding: 6rem;
   
}


.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}



@media (max-width: 720px){
    .row{
        width: 100%;
        padding:0.6rem;
    }
    nav{
        font-size: 0.7rem;
    }

    .row h5{
        font-size: 0.5rem;
    }
    .row a{
        font-size: 0.5rem;
    }

    .cart-row{
        font-size: 0.5rem;
    }

    .cart-row img{
        width: 2.5rem;
    }

    .navlist{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--secondary-color);
        text-align: left;
        transition: all .35s ease;
    }
    #menu-icon{
        display: block;
    }
    .navlist a{
        display: block;
        padding: 0.8rem;
        margin: 0.5rem;
        border-left: 2px solid var(--text-color);
        color: black;
        
    }

    .navlist a:hover{
        background: var(--text-color);
        color: var(--secondary-bg-color);
        border: none;
    }

    .navlist a::after{
        display: none;
    }

    .navlist.active{
        top: 10%;
    }
}