{% extends 'base/main.html' %}
{% block title %}<title>Checkout</title>{% endblock %}

{% block content %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static '/css/checkout.css' %}">
{% endblock %}
<div class="hero">
    <nav>
        <h2 class="logo">
            .Ecom
        </h2>
        <ul>
            <li><a href="{% url 'store' %}">Store</a></li>
            <li><a href="#">More</a></li>
        </ul>
        <button class="btn p-0 position-relative">
            <a href="{% url 'cart' %}"><i class='bx bx-cart'></i></a>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{cart_items}}
            </span>
        </button>
    </nav>

<div class="container">
    <h2>Billing Address and Payment Info</h2>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email:</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email@example.com">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Name On Card:</label>
            <input type="text" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-6">
            <label for="inputAddress" class="form-label">Full Name:</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Name and Surname">
        </div>
        <div class="col-md-6">
            <label for="inputAddress2" class="form-label">Card Number:</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="1234 - 5678 - 91011 - 1213">
        </div>
        <div class="col-md-6">
            <label for="inputAddress2" class="form-label">Address:</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor,Complex">
        </div>
        <div class="col-md-3">
            <label for="inputCity" class="form-label">Exp Month:</label>
            <input type="text" class="form-control" id="inputCity" placeholder="Month">
        </div>
        <div class="col-md-3">
            <label for="inputCity" class="form-label">CVV:</label>
            <input type="text" class="form-control" id="inputCity" placeholder="0000">
        </div>
        <div class="col-md-2">
            <label for="inputCity" class="form-label">City:</label>
            <input type="text" class="form-control" id="inputCity" placeholder="Pretoria">
        </div>
        <div class="col-md-2">
            <label for="inputState" class="form-label">Country:</label>
            <input type="text" class="form-control" id="inputCity" placeholder="South Africa">

        </div>
       
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip:</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
        <h4 class="mb-3">Payment Methods:</h4>
        <div class="col-md-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Credit Card
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Debit Card
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Paypal
                </label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-danger">Checkout</button>
        </div>
    </form>
</div>


{% endblock %}