{% extends 'base/main.html' %}
{% block title %}<title>Store</title>{% endblock %}

{% block content %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/store.css' %}">
{% endblock %}
<!--Navbar and showcase-->

<section>
    <div class="hero">
        <nav>

            <ul>
                <li><a href="{% url 'store' %}"><h2>
                    .Ecom
                </h2></a></li>
                <li><a href="{% url 'store' %}">Store</a></li>
                <li><a href="{% url 'signout' %}">Logout</a></li>
                <li><a href="#box">More</a></li>
                
            </ul>

            <button class="btn p-0 position-relative">
                <a href="{% url 'cart' %}"><i class='bx bx-cart'></i></a>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{cart_items}}
                </span>
            </button>
        
        </nav>

        <div class="info">
            <h1>Don't worry we have it right here</h1>
            <a href="#box">Buy Now</a>
        </div>
    </div>
</section>

<!---box items-->
    <section>
        <form class="search d-flex m-5" role="search">
            {{store_filter.form}}
        
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <div class="item-section" id="items">
            <h2 class="heading">Latest Deals this week</h2>
            
            <!--Item container-->
            <div class="items-container">
                <!---box-->
                {% for item in items %}
                
                    <div class="box shadow p-3 mb-5 bg-body rounded"  id="box">
                        <div class="box-img">
                            <img src="{{ item.imageUrl }}" alt="">
                        </div>
                        <div class="p-2">
                            <h3>R{{item.price | floatformat:2}}</h3>
                            <h5>{{item.name}}</h5>
                            <button data-product="{{item.id}}" data-action="add" class="btn btn-outline-danger add-btn update-cart "><i
                                    class='bx bx-cart'></i></button>
                            <a href="{% url 'item_profile' item.name %}" class="btn btn-outline-primary">View</a>
                        </div>
                        </div>
                {% endfor %}
                
            </div>
        </div>
    </section>


{% endblock %}