{% extends 'base/main.html' %}
{% block title %}<title>Store</title>{% endblock %}

{% block content %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/store.css' %}">
{% endblock %}
<!--Navbar and showcase-->

<section>
    <div class="hero">
        <nav>
            <h2 class="logo">
                .Ecom
            </h2>
            <ul>
                <li><a href="{% url 'store' %}">Store</a></li>
                <li><a href="#">More</a></li>
            </ul>
            <button class="btn p-0 position-relative">
                <a href="{% url 'cart' %}"><i class='bx bx-cart'></i></a>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{cart_items}}
                </span>
            </button>
        
        </nav>

        <div class="info">
            <h1>Find the perfect stylish shoe for yourself</h1>
            <a href="#">Buy Now</a>
        </div>
    </div>
</section>

<!---box items-->
    <section>
        <div class="item-section" id="items">
            <h2 class="heading">Latest Deals this week</h2>
            <!--Item container-->
            <div class="items-container">
                <!---box-->
                {% for item in items %}
                
                    <div class="box">
                        <div class="box-img">
                            <img src="{{ item.imageUrl }}" alt="">
                        </div>
                        <h3>R{{item.price | floatformat:2}}</h3>
                        <h5>{{item.name}}</h5 >
                        <button data-product="{{item.id}}" data-action="add" class="btn btn-danger add-btn update-cart "><i class='bx bx-cart'></i></button>
                        <a href="" class="btn btn-danger">View</a>
                    </div>
                {% endfor %}
                
            </div>
        </div>
    </section>


{% endblock %}